PORT=
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/video_manager

CORS_ORIGIN_DEV=http://localhost:1000
CORS_ORIGIN_PRO=

CLOUDINARY_CLOUD_NAME=cloudinary video upload
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DB_NAME_PRO=railway
DB_HOST_PRO=
DB_PASS_PRO=
DB_USER_PRO=
DB_URL=